{% comment %} {%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart-empty'
  endif
-%} {% endcomment %}

{% comment %} <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span> {% endcomment %}

{% comment %} {%- if cart != empty -%}
  <div class="cart-count-bubble">
      {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
      {%- endif -%}
      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%} {% endcomment %}

{%- render 'icon-cart-empty' -%}
<span class="announcement-bar__icon-label">
  Cart ({{ cart.item_count }})
</span>
