.accordion summary {
  align-items: center;
  display: flex;
  line-height: 1;
  padding: 1.75rem 0 1.5rem 0;
  position: relative;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: 24px;
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid #9ECDEB;
  border-bottom: 0.1rem solid #9ECDEB;
}

.accordion__title {
  display: inline-block;
  font-family: var(--font-body-family);
  font-weight:600;
  letter-spacing:1px;
  margin: 0;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  text-transform:uppercase;
  word-break: break-word;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 1.6rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 1.6rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.accordion__content img {
  max-width: 100%;
}
