.globo-swatch-product-detail ul.value li.select-option input:checked + .globo-style--button {
  border-width: 2px;
  font-weight: 700; }

.globo-swatch-product-detail .swatch--gl li .globo-style--button {
  padding-top: 8px;
  -webkit-transition: none !important;
  transition: none !important;
  background-color: transparent !important; }

.globo-swatch-product-detail ul.value {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.globo-swatch-product-detail .name-variant {
  font-weight: 400; }

.globo-swatch-product-detail .swatch--gl:last-of-type {
  margin-bottom: 0; }

variant-radios {
  visibility: hidden; }

.globo-swatch-list {
  margin-top: 1.6rem; }

.swatches-globo .ul-swatches-list li.swatches-options input:checked + .globo-style--button {
  color: #21597a !important; }

.swatches-globo .swatch--gl li .globo-style--button {
  background-color: transparent !important;
  border: 0 !important;
  color: #21597a !important;
  font-weight: 700;
  font-size: 12px !important;
  padding: 0 !important;
  margin-right: 3px !important; }

.globo-swatch-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0; }

.collection .globo-swatch-list .swatch--gl:first-of-type {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.collection .swatches-globo .swatch--gl {
  margin-bottom: 0; }
