.testimonials__slide {
  position: relative; }

.testimonials__image {
  height: 450px;
  position: relative;
  width: 100%;
  z-index: -1; }
  .testimonials__image-container {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }

.testimonials__content {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  z-index: 1; }
  @media screen and (min-width: 750px) {
    .testimonials__content {
      width: 65%; } }
  @media screen and (min-width: 990px) {
    .testimonials__content {
      width: 50%; } }

.testimonials__quote {
  margin: 2rem 0; }
  @media screen and (min-width: 750px) {
    .testimonials__quote {
      font-size: 16px; } }

.testimonials__name {
  font-family: 'Nunito Sans', sans-serif;
  color: #a9a9a9;
  margin-top: 2rem; }

.testimonials__arrow {
  display: none; }
  @media screen and (min-width: 750px) {
    .testimonials__arrow {
      background: none repeat scroll 0 0 transparent;
      border-spacing: 0;
      border: medium none;
      color: #26589f;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.42rem;
      list-style: none outside none;
      margin: 0;
      padding: 10px 20px;
      position: absolute;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .testimonials__arrow--left {
        left: 2rem; } }
    @media screen and (min-width: 750px) and (min-width: 990px) {
      .testimonials__arrow--left {
        left: 4rem; } }
  @media screen and (min-width: 750px) {
      .testimonials__arrow--right {
        right: 2rem; } }
    @media screen and (min-width: 750px) and (min-width: 990px) {
      .testimonials__arrow--right {
        right: 4rem; } }
