.shop-contact {
  background-color: #1A506F;
  position: relative;
  overflow: hidden; }
  .shop-contact * {
    color: white; }
  .shop-contact__border {
    border: 14px solid transparent;
    /* Use the border-image property to apply the border image */
    /* Use the border-image property to apply the border image */
    -o-border-image: -o-repeating-linear-gradient(left, #929ea4 0, #929ea4 147px, #9fb1c6 147px, #9fb1c6 294px, #e78367 294px, #e78367 441px, #ebb967 441px, #ebb967 588px, #7da9a3 588px, #7da9a3 735px) 14;
       border-image: repeating-linear-gradient(to right, #929ea4 0, #929ea4 147px, #9fb1c6 147px, #9fb1c6 294px, #e78367 294px, #e78367 441px, #ebb967 441px, #ebb967 588px, #7da9a3 588px, #7da9a3 735px) 14;
    /* Set the box-sizing property to border-box to ensure the width and height of the element includes the border */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block !important;
    position: relative;
    z-index: 1; }
  .shop-contact__background {
    position: absolute;
    top: 0;
    width: 100%; }
  .shop-contact__grid {
    position: relative;
    z-index: 1; }
  .shop-contact__map-wrapper {
    position: relative; }
    @media screen and (min-width: 990px) {
      .shop-contact__map-wrapper {
        padding: 6rem 3.5rem 7rem 7rem; } }
  @media screen and (min-width: 990px) {
    .shop-contact__content {
      padding: 6rem 7rem 7rem 3.5rem; } }
  .shop-contact__logo {
    margin-bottom: 3rem; }
  .shop-contact__heading {
    font-size: 34px;
    margin-bottom: 3rem; }
  .shop-contact__group {
    margin-bottom: 3rem; }
    .shop-contact__group-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 400px; }
  .shop-contact__label {
    font-size: 20px;
    padding: 16px 0 8px;
    margin-bottom: 0; }
  .shop-contact #map {
    width: 100%;
    height: auto;
    max-height: 345px;
    overflow: hidden; }
    @media screen and (min-width: 1320px) {
      .shop-contact #map {
        max-height: 540px; } }
    .shop-contact #map iframe {
      border: 0;
      margin-top: -130px; }
      @media screen and (min-width: 1320px) {
        .shop-contact #map iframe {
          margin-bottom: 0;
          margin-left: -15%;
          margin-right: 1rem; } }
