.tab-accordion__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #265979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  padding: 6rem 0; }
  @media screen and (min-width: 750px) {
    .tab-accordion__inner {
      padding: 10rem 5rem; } }

.tab-accordion__heading {
  font-size: 28px;
  margin: 0 1.5rem 2rem 1.5rem; }
  @media screen and (min-width: 990px) {
    .tab-accordion__heading {
      font-size: 34px; } }

.tab-accordion__description {
  margin: 0 1.5rem 3.5rem 1.5rem;
  line-height: 1.3;
  text-align: center; }
  @media screen and (min-width: 990px) {
    .tab-accordion__description {
      text-align: left; } }

.tab-accordion__items {
  width: 100%; }
  @media screen and (min-width: 750px) {
    .tab-accordion__items {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: grid;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: unset;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr; } }

.tab-accordion__item {
  text-align: center; }
  .tab-accordion__item:nth-child(1n) .tab-accordion__item-header {
    background-color: #7da9a3; }
  .tab-accordion__item:nth-child(2n) .tab-accordion__item-header {
    background-color: #ebb967; }
  .tab-accordion__item:nth-child(3n) .tab-accordion__item-header {
    background-color: #e78367; }
  .tab-accordion__item:nth-child(4n) .tab-accordion__item-header {
    background-color: #9fb1c6; }
  .tab-accordion__item:nth-child(5n) .tab-accordion__item-header {
    background-color: #72a7c0d9; }
  @media screen and (min-width: 750px) {
    .tab-accordion__item {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      margin: 0; }
      .tab-accordion__item:last-of-type .tab-accordion__item-header {
        margin-right: 2px; } }
  .tab-accordion__item-header {
    border-bottom: 1px solid #e5eaf0;
    border-top: 1px solid #e5eaf0;
    color: #fff;
    cursor: pointer;
    font-family: 'Special Elite', Monospace;
    font-size: 18px;
    line-height: 1;
    margin: 1px;
    padding: 22px 16px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 750px) {
      .tab-accordion__item-header {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 19px 24px 15px;
        width: 100%; } }
    @media screen and (min-width: 1320px) {
      .tab-accordion__item-header {
        padding: 19px 48px 15px; } }
    .tab-accordion__item-header-icon {
      float: right;
      position: relative;
      top: -8px;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
      @media screen and (min-width: 750px) {
        .tab-accordion__item-header-icon {
          display: none; } }
    @media screen and (min-width: 750px) {
      .tab-accordion__item-header.active {
        -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        height: calc(100% + 16px); } }
    .tab-accordion__item-header.active .tab-accordion__item-header-icon {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .tab-accordion__item-table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 18px 12px; }
    .tab-accordion__item-table-row:nth-of-type(even) {
      background-color: #deeaf0; }
    .tab-accordion__item-table-row--header {
      font-size: 18px; }
  .tab-accordion__item-table-cell:first-of-type {
    width: 70%; }
  .tab-accordion__item-table-cell:last-of-type {
    width: 30%; }

.tab-accordion__content {
  display: none;
  overflow: hidden;
  padding: 10px; }
  @media screen and (min-width: 750px) {
    .tab-accordion__content {
      padding: 10px; } }
  .tab-accordion__content.active {
    display: block; }
    @media screen and (min-width: 750px) {
      .tab-accordion__content.active {
        display: none; } }
  .tab-accordion__content-desktop {
    display: none; }
    @media screen and (min-width: 750px) {
      .tab-accordion__content-desktop {
        display: block;
        margin-top: 6px;
        max-width: 714px;
        width: 100%; } }
