.product-recommendations {
  display: block;
  margin: 10rem auto 7rem auto;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.product-recommendations .grid__item {
  padding-bottom: 0;
}

.product-recommendations .swatches-globo--list {
  display: none;
}