.section-accordion__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #265979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  padding: 6rem 1.5rem; }
  @media screen and (min-width: 750px) {
    .section-accordion__inner {
      padding: 10rem 5rem; } }

.section-accordion__heading {
  font-size: 28px;
  margin-bottom: 32px; }
  @media screen and (min-width: 990px) {
    .section-accordion__heading {
      font-size: 34px; } }

.section-accordion__sub-heading {
  margin-bottom: 38px; }
  @media screen and (min-width: 990px) {
    .section-accordion__sub-heading {
      margin-bottom: 6rem; } }

.section-accordion__items {
  display: block;
  width: 100%; }
  @media screen and (min-width: 750px) {
    .section-accordion__items {
      display: grid;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 7rem;
      grid-template-columns: repeat(2, 1fr); } }

.section-accordion__column:first-of-type .section-accordion__item:first-of-type {
  border-top: 1px solid #265979; }

.section-accordion__column:first-of-type .section-accordion__item:nth-of-type(1n) {
  border-bottom: 1px solid #E78367; }

.section-accordion__column:first-of-type .section-accordion__item:nth-of-type(2n) {
  border-bottom: 1px solid #EBB967; }

.section-accordion__column:first-of-type .section-accordion__item:nth-of-type(3n) {
  border-bottom: 1px solid #7DA9A3; }

.section-accordion__column:first-of-type .section-accordion__item:nth-of-type(4n) {
  border-bottom: 1px solid #9FB1C6; }

.section-accordion__column:first-of-type .section-accordion__item:nth-of-type(5n) {
  border-bottom: 1px solid #265979; }

.section-accordion__column:last-of-type .section-accordion__item:first-of-type {
  border-top: 1px solid #EBB967; }

.section-accordion__column:last-of-type .section-accordion__item:nth-of-type(1n) {
  border-bottom: 1px solid #7DA9A3; }

.section-accordion__column:last-of-type .section-accordion__item:nth-of-type(2n) {
  border-bottom: 1px solid #9FB1C6; }

.section-accordion__column:last-of-type .section-accordion__item:nth-of-type(3n) {
  border-bottom: 1px solid #E78367; }

.section-accordion__column:last-of-type .section-accordion__item:nth-of-type(4n) {
  border-bottom: 1px solid #265979; }

.section-accordion__column:last-of-type .section-accordion__item:nth-of-type(5n) {
  border-bottom: 1px solid #EBB967; }

.section-accordion__item {
  text-align: center; }
  .section-accordion__item-header {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 22px 16px 20px;
    text-transform: uppercase; }
    .section-accordion__item-header-icon {
      float: right;
      position: relative;
      top: -8px;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
    .section-accordion__item-header.active .section-accordion__item-header-icon {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.section-accordion__content {
  display: none;
  overflow: hidden;
  padding: 10px;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }
  @media screen and (min-width: 750px) {
    .section-accordion__content {
      padding: 10px; } }
  .section-accordion__content.active {
    display: block; }
