.accordion__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #265979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Special Elite, Monospace;
  padding: 6rem 1.5rem; }
  @media screen and (min-width: 750px) {
    .accordion__inner {
      padding: 10rem 5rem; } }

.accordion__heading {
  font-size: 28px;
  margin-bottom: 32px; }
  @media screen and (min-width: 990px) {
    .accordion__heading {
      font-size: 34px; } }

.accordion__sub-heading {
  margin-bottom: 38px; }
  @media screen and (min-width: 990px) {
    .accordion__sub-heading {
      margin-bottom: 6rem; } }

.accordion__items {
  display: block;
  width: 100%; }
  @media screen and (min-width: 750px) {
    .accordion__items {
      display: grid;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 7rem;
      grid-template-columns: repeat(2, 1fr); } }

.accordion__column:last-of-type .accordion__item:first-of-type {
  border-top: 0; }

@media screen and (min-width: 750px) {
  .accordion__column:last-of-type .accordion__item:first-of-type {
    border-top: 1px solid #ACC3CD; } }

.accordion__item {
  border-bottom: 1px solid #ACC3CD;
  text-align: center; }
  .accordion__item:first-of-type {
    border-top: 1px solid #ACC3CD; }
  .accordion__item-header {
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 22px 16px 20px;
    text-transform: uppercase; }
    .accordion__item-header-icon {
      float: right;
      position: relative;
      top: -8px;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      -o-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
    .accordion__item-header.active .accordion__item-header-icon {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.accordion__content {
  display: none;
  overflow: hidden;
  padding: 10px;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }
  @media screen and (min-width: 750px) {
    .accordion__content {
      padding: 10px; } }
  .accordion__content.active {
    display: block; }
