.surf-select__inner {
  color: #265979;
  font-family: 'Nunito Sans', sans-serif;
  padding: 5.5rem 1.5rem 0; }
  @media screen and (min-width: 750px) {
    .surf-select__inner {
      padding: 5.5rem 5rem 0; } }

.surf-select__heading {
  font-size: 28px;
  margin-bottom: 32px;
  text-align: center; }
  @media screen and (min-width: 750px) {
    .surf-select__heading {
      font-size: 34px; } }

.surf-select__summary {
  margin: 0 auto 32px auto;
  line-height: 1.3;
  text-align: center; }
  @media screen and (min-width: 750px) {
    .surf-select__summary {
      max-width: 648px; } }

.surf-select__slide {
  cursor: pointer;
  height: auto !important;
  position: relative; }
  .surf-select__slide-heading {
    color: #fff;
    font-size: 24px;
    margin-bottom: 3rem;
    text-align: center; }
  .surf-select__slide-image {
    display: block;
    height: auto;
    max-width: 100%; }
  .surf-select__slide:hover .surf-select__slide-image {
    display: none; }
  .surf-select__slide:hover .surf-select__slide-content-overlay {
    display: block; }
  .surf-select__slide-content {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.5rem; }
    .surf-select__slide-content-overlay {
      background-color: inherit;
      bottom: 0;
      color: #fff;
      display: none;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 14px;
      left: 0;
      line-height: 1.3;
      padding: 51px 32px 32px;
      position: absolute;
      right: 0;
      top: 0; }
  .surf-select__slide-description li {
    margin-bottom: 1rem; }

.surf-select__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 24px;
  display: none; }
  @media screen and (min-width: 750px) {
    .surf-select__arrows {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media screen and (min-width: 750px) {
  .surf-select__arrow {
    background: none repeat scroll 0 0 transparent;
    border-spacing: 0;
    border: medium none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0; }
    .surf-select__arrow--right {
      margin-left: 2rem; } }
