.shop-hero {
  height: 234px;
  margin-bottom: 3rem;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 1320px) {
    .shop-hero {
      background-position: unset;
      height: 300px;
      margin-bottom: 6rem; } }
  .shop-hero__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 1320px) {
      .shop-hero__wrapper {
        padding: 0 16rem; } }
  .shop-hero__media {
    height: 234px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); }
    @media screen and (min-width: 1320px) {
      .shop-hero__media {
        height: 300px; } }
  .shop-hero__image {
    z-index: -1; }
  .shop-hero__heading {
    --color-foreground: rgb(255, 255, 255);
    color: var(--color-foreground);
    line-height: 1;
    position: relative; }
    .shop-hero__heading::after {
      background-color: var(--color-foreground);
      bottom: 5px;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      width: 215px; }
  .shop-hero__alert {
    background-color: #DA9D3A;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 10px 0 10px 0;
    text-align: center; }
  .shop-hero .placeholder + .shop-hero__wrapper .shop-hero__heading {
    color: #1d5b78; }
    .shop-hero .placeholder + .shop-hero__wrapper .shop-hero__heading::after {
      background-color: #1d5b78; }
