.globo-swatch-product-detail ul.value li.select-option input:checked+.globo-style--button {
    border-width: 2px;
    font-weight: 700;
}

.globo-swatch-product-detail .swatch--gl li .globo-style--button {
    padding-top: 8px;
    transition: none !important;
    background-color: transparent !important;
}

.globo-swatch-product-detail ul.value {
    align-items: center;
}


.globo-swatch-product-detail .name-variant {
    font-weight: 400;
}

.globo-swatch-product-detail .swatch--gl:last-of-type {
    margin-bottom: 0;
}

variant-radios {
    visibility: hidden;
}

.globo-swatch-list {
    margin-top: 1.6rem;
}