.shop-contact {
  background-color: #1A506F;
  font-family: 'Nunito Sans', sans-serif;
  overflow: hidden;
  position: relative;

  * {
    color: white;
  }

  &__border {
    border: 14px solid transparent;

    /* Use the border-image property to apply the border image */
    border-image: repeating-linear-gradient(
        to right,
        #929ea4 0,
        #929ea4 147px,
        #9fb1c6 147px,
        #9fb1c6 294px,
        #e78367 294px,
        #e78367 441px,
        #ebb967 441px,
        #ebb967 588px,
        #7da9a3 588px,
        #7da9a3 735px
      )
      14;

    /* Set the box-sizing property to border-box to ensure the width and height of the element includes the border */
    box-sizing: border-box;
    display: block !important;
    position: relative;
  }
  
  &__grid {
    flex-direction: column-reverse;
    margin: 0;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 750px) {
      flex-direction: row;
    }
  }

  &__row {
    align-items: center;
    flex-direction: column;
    
    @media screen and (min-width: 750px) {
      display: block;
    }
  }

  .grid__item {
    padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;

    &:last-of-type {
      padding-bottom: 0;
    }

    @media screen and (min-width: 750px) {
      &:first-of-type {
        padding: 5.5rem 0 5.5rem 0;
      }

      &:last-of-type {
        padding-bottom: 5.5rem;
      }
    }

    @media screen and (min-width: 990px) {
      &:first-of-type {
        padding: 5.5rem 3.5rem 5.5rem 5.5rem;
      }

      &:last-of-type {
        padding: 5.5rem 5.5rem 5.5rem 3.5rem;
      }
    }
  }

  &__map-wrapper {
    position: relative;

    @media screen and (min-width: 750px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__logo {
    height: auto;
    margin-bottom: 3rem;
    width: 170px;

    @media screen and (min-width: 990px) {
      height: 51px;
      width: 215px;
    }
  }

  &__heading {
    font-size: 28px;
    margin-bottom: 3rem;

    @media screen and (min-width: 990px) {
      font-size: 34px;
    }
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__group {
    margin-bottom: 3rem;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media screen and (min-width: 750px) {
      text-align: left;
    }

    &-row {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3rem;
      max-width: 400px;
      width: 100%;

      @media screen and (min-width: 750px) {
        justify-content: space-between;
      }
    }
  }

  &__label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700 ;
    margin-bottom: 0;
    padding: 16px 0 8px;
  }

  &__link {
    color: white !important; //replace with var
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  #map {
    width: 100%;
    height: auto;
    max-height: 345px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 750px) {
      max-width: 100%;
    }

    @media screen and (min-width: 1320px) {
      max-height: 540px;
    }
  
    iframe {
      border: 0;
      
      @media screen and (min-width: 1320px) {
        margin-bottom: 0;
        margin-left: -15%;
        margin-right: 1rem;
      }
    }
  }

  &__button {
    align-items: center;
    background-color: #2F7094;
    border-width: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Special Elite', Monospace;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    height: 100%;
    justify-content: center;
    line-height: inherit;
    padding: 2.5rem 2rem;
    text-transform: uppercase;
    width: 100%;

    &:hover, &:focus, &:active {
      background-color: #2f709440;
    }

    svg {
      margin-bottom: 2rem;
    }

    &-row {
      align-items: stretch;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      padding-left: 0 !important;
      padding-right: 0 !important;

      @media screen and (min-width: 750px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  /* Modal window */
  &__modal {
    background-color: #FEFDF8;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    left: 0;
    overflow-y: scroll;
    padding: 10rem 5rem 5rem 5rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    @media screen and (min-width: 750px) {
      bottom: unset;
      left: 50%;
      max-height: calc(100% - 45px*2);
      overflow-y: auto;
      right: unset;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 768px;
    }

    * {
      color: #265979;
    }

    &--active {
      display: block;
    }

    &-content {
      line-height: 1.3;
      font-family: 'Nunito Sans', sans-serif;

      img {
        display: block;
        margin: auto;
        max-width: 100%;
      }

      * {
        font-family: 'Nunito Sans', sans-serif;
      }
    }

    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      h2 {
        color: #265979;
        font-size: 28px;
        margin-bottom: 16px;

        @media screen and (min-width: 750px) {
          font-size: 34px;
        }
      }
    }

    &-close {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 24px;
      top: 24px;
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;

      &--active {
        display: block !important;
      }
    }

    &--body-active {
      overflow: hidden;

      @media screen and (min-width: 750px) {
         overflow: auto;
      }
    }
  }
}
