.shop-contact {
  background-color: #1A506F; //replace with var
  position: relative;
  overflow: hidden;

  * {
    color: white; //replace with var
  }

  &__border {
    border: 14px solid transparent;

    /* Use the border-image property to apply the border image */
    /* Use the border-image property to apply the border image */
    border-image: repeating-linear-gradient(
        to right,
        #929ea4 0,
        #929ea4 147px,
        #9fb1c6 147px,
        #9fb1c6 294px,
        #e78367 294px,
        #e78367 441px,
        #ebb967 441px,
        #ebb967 588px,
        #7da9a3 588px,
        #7da9a3 735px
      )
      14;

    /* Set the box-sizing property to border-box to ensure the width and height of the element includes the border */
    box-sizing: border-box;
    display: block !important;
    position: relative;
    z-index: 1;
  }


  &__background {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  &__grid {
    position: relative;
    z-index: 1;
  }

  &__map-wrapper {
    position: relative;
    @media screen and (min-width: 990px) {
      padding: 6rem 3.5rem 7rem 7rem;
    }
  }

  &__content {
    @media screen and (min-width: 990px) {
      padding: 6rem 7rem 7rem 3.5rem;
    }
  }

  &__logo {
    margin-bottom: 3rem;
  }

  &__heading {
    font-size: 34px;
    margin-bottom: 3rem;
  }

  &__group {
    margin-bottom: 3rem;
    &-row {
      display: flex;
      justify-content: space-between;
      max-width: 400px;
    }
  }

  &__label {
    font-size: 20px;
    padding: 16px 0 8px;
    margin-bottom: 0;
  }

  #map {
    //max-width: 540px;
    width: 100%;
    height: auto;
    max-height: 345px;
    overflow: hidden;

    @media screen and (min-width: 1320px) {
      max-height: 540px;
    }
  
    iframe {
      border: 0;
      margin-top: -130px;
      
      @media screen and (min-width: 1320px) {
        margin-bottom: 0;
        margin-left: -15%;
        margin-right: 1rem;
      }
    }
  }
}


