.testimonials {
  &__slide {
    position: relative;
  }

  &__image {
    height: auto;
    min-height: 500px;
    object-fit: cover;
    width: 100%;

    &-overlay {
      background-color: black;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      bottom: 0;
      display: block !important;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__content {
    color: #fff;
    font-family: "Special Elite", Monospace;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 1;
  }

  &__quote {
    margin: 2rem 0;

    @media screen and (min-width: 750px) {
      font-size: 18px;
    }
  }

  &__name {
    color: #a9a9a9;
    margin-top: 2rem;
  }

  &__arrow {
    display: none;

    @media screen and (min-width: 750px) {
      background: none repeat scroll 0 0 transparent;
      border-spacing: 0;
      border: medium none;
      color: #26589f;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.42rem;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      padding: 10px 20px;
      position: absolute;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      top: 50%;
      transform: translateY(-50%);

      &--left {
        left: 2rem;

        @media screen and (min-width: 990px) {
          left: 4rem;
        }
      }

      &--right {
        right: 2rem;

        @media screen and (min-width: 990px) {
          right: 4rem;
        }
      }
    }
  }
}
