.tab-accordion {
  &__inner {
    align-items: center;
    color: #265979;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    padding: 6rem 0;

    @media screen and (min-width: 750px) {
      padding: 10rem 5rem;
    }
  }

  &__heading {
    font-size: 28px;
    margin-bottom: 32px;

    @media screen and (min-width: 990px) {
      font-size: 34px;
    }
  }

  &__items {
    width: 100%;

    @media screen and (min-width: 750px) {
      align-items: center;
      display: grid;
      flex-wrap: wrap;
      width: unset;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
    }
  }

  &__item {
    text-align: center;

    &:nth-child(1n) {
      .tab-accordion__item-header {
        background-color: #7da9a3;
      }
    }

    &:nth-child(2n) {
      .tab-accordion__item-header {
        background-color: #ebb967;
      }
    }

    &:nth-child(3n) {
      .tab-accordion__item-header {
        background-color: #e78367;
      }
    }

    &:nth-child(4n) {
      .tab-accordion__item-header {
        background-color: #9fb1c6;
      }
    }

    &:nth-child(5n) {
      .tab-accordion__item-header {
        background-color: #72a7c0d9;
      }
    }

    @media screen and (min-width: 750px) {
      align-items: center;
      border: none;
      display: flex;
      height: 100%;
      margin: 0;

      &:last-of-type {
        .tab-accordion__item-header {
          margin-right: 2px;
        }
      }
    }

    &-header {
      border-bottom: 1px solid #e5eaf0;
      border-top: 1px solid #e5eaf0;
      color: #fff;
      cursor: pointer;
      font-family: 'Special Elite', Monospace;
      font-size: 18px;
      line-height: 1;
      margin: 1px;
      padding: 22px 16px 20px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      @media screen and (min-width: 750px) {
        align-items: center;
        border: 0;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 19px 24px 15px;
        width: 100%;
      }

      @media screen and (min-width: 1320px) {
        padding: 19px 48px 15px;
      }

      &-icon {
        float: right;
        position: relative;
        top: -8px;
        transition: transform 0.2s ease-out;

        @media screen and (min-width: 750px) {
          display: none;
        }
      }

      &.active {
        @media screen and (min-width: 750px) {
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          height: calc(100% + 16px);
        }

        .tab-accordion__item-header-icon {
          transform: rotate(180deg);
        }
      }
    }

    &-table {
      &-row {
        display: flex;
        justify-content: space-between;
        padding: 18px 12px;

        &:nth-of-type(even) {
          background-color: #deeaf0;
        }

        &--header {
          font-size: 18px;
        }
      }

      &-cell {
        &:first-of-type {
          width: 70%;
        }

        &:last-of-type {
          width: 30%;
        }
      }
    }
  }

  &__content {
    display: none;
    overflow: hidden;
    padding: 10px;


    @media screen and (min-width: 750px) {
      padding: 10px;
    }

    &.active {
      display: block;

      @media screen and (min-width: 750px) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @media screen and (min-width: 750px) {
        display: block;
        margin-top: 6px;
        max-width: 714px;
        width: 100%;
      }
    }
  }
}
