.smartsizechart_content .smartsizechart_instruction table {
    width: 100% !important;
}

.smartsizechart_content {
    padding: 18px 23px;
}

.ui-dialog-content .MuiBox-root:first-of-type:not(.smartsizechart_content .MuiBox-root) {
    padding: 18px 23px;
    background-color: #F2F1F0;
    height: auto;
}

.MuiTableCell-body {
    background-color: transparent !important;
}

tr.MuiTableRow-root.MuiTableRow-head {
    background-color: transparent;
    font-weight: 700;
}

.MuiTableRow-root:nth-child(1n) {
    background-color: #C9D7E9;
}

.MuiTableRow-root:nth-child(2n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(3n) {
    background-color: #F6AD99;
}

.MuiTableRow-root:nth-child(4n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(5n) {
    background-color: #F9D8A2;
}

.MuiTableRow-root:nth-child(6n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(7n) {
    background-color: #AFDDD7;
}

.MuiTableRow-root:nth-child(8n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(9n) {
    background-color: #C9D7E9;
}

.MuiTableRow-root:nth-child(10n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(11n) {
    background-color: #F6AD99;
}

.MuiTableRow-root:nth-child(12n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(13n) {
    background-color: #F9D8A2;
}

.MuiTableRow-root:nth-child(14n) {
    background-color: #fff;
}

.MuiTableRow-root:nth-child(15n) {
    background-color: #AFDDD7;
}

.MuiTableRow-root:nth-child(16n) {
    background-color: #fff;
}

.MuiBox-root *,
.MuiTableCell-root {
    color: #265979 !important;
}

.MuiTableCell-head {
    font-weight: 700;
}

.MuiTypography-h6 {
    font-size: 18px;
    font-weight: 700;
}

.ui-dialog-content .MuiTypography-root.MuiTypography-h6.MuiTypography-gutterBottom:nth-child(2n) {
    display: none;
}

.MuiBox-root {
    justify-content: flex-start;
}

.MuiTableContainer-root {
    min-width: 100%;
}

.MuiTypography-root {
    font-size: 18px;
    margin: 0;
    padding-top: 0;
}

.ui-dialog .ui-dialog-content {
    padding-top: 0 !important;
}

.MuiBox-root .form__label {
    padding-right: 24px;
    position: relative;
    color: #F49600;
    text-decoration-line: underline;
    font-weight: 800;
    font-size: 1.4rem;
    margin: 0;
}

.sizefox-container .MuiBox-root {
    margin: 0;
}

.MuiBox-root .form__label:after {
    background-size: cover;
    // background: url({{ 'ruler.svg' | asset_url }});
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.MuiTypography-gutterBottom {
    text-align: left;
}

.MuiTableContainer-root {
    border: 0;
}

table {
    table-layout: fixed;
    width: 100%;
}